
<section class="section section--light">
    <div class="container">
        <h2 class="section__title">Наши клиенты</h2>
        <p class="section__description">Отзывы</p>
        <div class="section__reviews">
            <div class="review-card">
                <div class="review-card__stars">★★★★★</div>
                <div class="review-card__text">
                    “С самого начала мне понравился дизайн, особенно исторический принт, который добавляет футболке уникальности и стиля. Материал футболки оказался не только качественным, но и очень комфортным для носки.”
                </div>
                <div class="review-card__reviewer">
                    <img src="img/product.jpg" alt="Аватар">
                    <div class="review-card__reviewer-info">
                        <div class="review-card__reviewer-name">КОНСТАНТИН К.</div>
                        <div class="review-card__reviewer-role">Постоянный покупатель</div>
                    </div>
                </div>
            </div>
            <div class="review-card">
                <div class="review-card__stars">★★★★★</div>
                <div class="review-card__text">
                    “С самого начала мне понравился дизайн, особенно исторический принт, который добавляет футболке уникальности и стиля. Материал футболки оказался не только качественным, но и очень комфортным для носки.”
                </div>
                <div class="review-card__reviewer">
                    <img src="img/product.jpg" alt="Аватар">
                    <div class="review-card__reviewer-info">
                        <div class="review-card__reviewer-name">КОНСТАНТИН К.</div>
                        <div class="review-card__reviewer-role">Постоянный покупатель</div>
                    </div>
                </div>
            </div>
            <div class="review-card">
                <div class="review-card__stars">★★★★★</div>
                <div class="review-card__text">
                    “С самого начала мне понравился дизайн, особенно исторический принт, который добавляет футболке уникальности и стиля. Материал футболки оказался не только качественным, но и очень комфортным для носки.”
                </div>
                <div class="review-card__reviewer">
                    <img src="img/product.jpg" alt="Аватар">
                    <div class="review-card__reviewer-info">
                        <div class="review-card__reviewer-name">КОНСТАНТИН К.</div>
                        <div class="review-card__reviewer-role">Постоянный покупатель</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
